# makepkg build artifacts
/pkg/
/src/
*.pkg.tar.zst
*.pkg.tar.xz
*.log
__pycache__/

# editor backups
.emacs_backups/
*~

# python build artifacts
/dist/
/build/
*.egg-info/

# debian build artifacts
/debian/quickkey/
/debian/files
/debian/*.substvars
/debian/*.debhelper
/debian/debhelper-build-stamp
